.room-header {
  font-size: 18px;
}

.detail-room-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-menu{
  min-width:120px;
}